.keyboard {
  .frame {
    .row {
      flex: 1;
      display: flex;
      flex-flow: row nowrap;
      gap: 1px;

      &.typing {
        width: 100%;
      }
    }
  }

  @media (max-width: 600px) {
    .frame {
      .row {
        background-color: cyan;
      }
    }
  }
}
