.keyboard {
  .frame {
    .row {
      flex: 1;
      display: flex;
      flex-flow: row nowrap;
      gap: 0;

      @media screen and (width > 320px) {
        gap: 0.5vw;
      }
      &.typing {
        width: 100%;
      }
    }
  }
}
