/* keycap.scss */
kbd.keycap {
  position: relative;
  font-size: 16px;

  &.regular {
    flex: 37;
  }

  &.long-47 {
    flex: 47;
  }

  &.long-56 {
    flex: 56;
  }

  &.long-76 {
    flex: 76;
  }

  &.long-66 {
    flex: 66;
  }

  &.long-84 {
    flex: 84;
  }

  &.long-104 {
    flex: 104;
  }

  &.long-238 {
    flex: 233;
  }

  /*   @media (max-width: 600px) {
    font-size: 14px;
  } */
}
