.key {
  height: 37px;
  background: black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  &.regular {
    width: 37px;
    .keycap {
      width: 25px;
    }
  }

  &.long-47 {
    width: 47px;
    .keycap {
      font-size: 14px;
      width: 35px;
    }
  }
  &.long-56 {
    width: 56px;
    .keycap {
      width: 44px;
    }
  }

  &.long-66 {
    width: 66px;
    .keycap {
      width: 54px;
    }
  }

  &.long-84 {
    width: 84px;
    .keycap {
      width: 72px;
    }
  }

  &.long-104 {
    width: 104px;
    .keycap {
      width: 92px;
    }
  }

  &.long-238 {
    width: 233px;
    .keycap {
      width: 221px;
    }
  }
  box-shadow: 0px 0px 4px 6px rgba(255, 255, 255, 0.4) inset;
}
