@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

div.legend {
  position: absolute;
  top: 0px;
  left: 0px;

  width: calc(100%);
  height: calc(100%);

  background-color: rgba(black, 1);
  transition: background-color 1s ease-in, color 1s ease-in;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0;
  box-shadow: 0px 0px 0px 0px rgba(black, 0.233);

  @media screen and (width > 320px) {
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    border-radius: 4px;
    background-color: rgba(black, 0.5);
  }

  &.blank {
    background-color: transparent;
    color: black;
    box-shadow: none;
  }

  &.pressed {
    background-color: white;
    color: black;
    transition: background-color 0s linear, color 0s linear;

    @media screen and (width > 320px) {
      top: 1px;
    }
  }
}
