.keycap {
  .legend {
    .key {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;
      position: relative;
      height: 100%;
      &.underscore::after {
        /* F and J */
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-bottom: 10px solid darkslategray;
      }
    }
  }
}
