.keycap {
  .legend {
    .key {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;
      &.underscore {
        /* F and J */
        border-bottom: 1px solid darkslategray;
      }
    }
  }
}
